@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
#home{
  background-image: url('../images/3.jpg');
  background-size: 100% 100%;
  min-height: 95vh;
  background-repeat: no-repeat;
}
.navbar-brand
{
  font-family: 'Cedarville Cursive', cursive;
}
.options i:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
