@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster|Satisfy');
body{
  background-color: #f3f3f3;
  max-width: 100vw;
  font-family: 'PT Sans'; 
}


/*BASE.HTML FILE STYLING*/
#home{
  background-size: 100% 100%;
  min-height: 95vh;
  background-repeat: no-repeat;
}
nav{
  box-shadow: 0px 1px 10px 0.1px #b1b1b1;
  background-color:#34495e;
  color:white;
}
.navbar-brand{
  font-family: 'Cedarville Cursive', cursive;
}
#loginBtn ,#signBtn{
  background: #34495e;
  color:#ddd;
}
#loginBtn:hover,#signBtn:hover{
  color:white;
}
.footer{
  background:linear-gradient(166deg, #f3f3f3 30%, rgba(255,0,0,0) 10%),
             linear-gradient(150deg, #ccc 90%, #ccc 1%),
             linear-gradient(45deg, #ccc 95%, rgba(0,0,255,0) 30%);
  width:100%;
  height:25vw;
  z-index:-1;
  position: absolute;
  bottom:-20px;
  left:0px;
}


/*INDEX.HTML FILE STYLING*/
#title{
  color:#40CFFF;
  font-size: 300%;
}
.buttonLink{
  background-color:#34495e;
  color:#ddd;
  border-radius: 25px;
  box-shadow: 0px 3px 10px 0.1px #b1b1b1;
  vertical-align: middle;
}
.buttonLink:hover{
  color:#fff;
}
#Exp{
  color:#1A7DC5;
  font-size:120%;
}
#deskImg{
  max-height:90vh;
  max-width:90vw;
}


/*FORMS STYLING*/
.form-control {
  width: auto;
}
.options i:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.newResponse select{
  width: -moz-available;
}
.newResponse input{
  width: -moz-available;
}
.newResponse #submit{
  border: none;
  padding: 5px;
}
.newResponse #submit:hover{
    background-color: #ffc107;
}

.CompanyForm #submit{
  min-width: 20%;
  border: none;
  padding: 5px;
}
.CompanyForm #submit:hover{
    background-color: #ffc107;
}

.CompanyForm #id_name{
    width: 100%;
}

#id_questions , #responseQuestions{
  display: inherit;
  width: 100%;
  min-height: 30vh;
}