{% extends 'Interviewbook/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container ">
  <form method="post" class="card CompanyForm text-primary">
    {% csrf_token %}
    <h2 class="text-center" style="color:#34495E;">Add a company to the list</h2>
    <hr>
    <p>
    	<div class="row">
    		<div class="col-sm-3 col-lg-1">
    			{{ form.name.label_tag }}
    		</div>
    		<div class="col-sm-9 col-lg-11">
    			{% render_field form.name class="form-control" placeholder="Enter Company Name" %}
    		</div>
    	</div>
    </p>
    <center>
  		<input class="btn btn-outline-success" type="submit" name="submit" value="Upload"  style="max-width:150px;">
  	</center>
  </form>
</div>

{% endblock %}
