{% extends 'Interviewbook/base.html' %}

{% block content %}

<div class="container" id="home">
  <div class="row m-0">

      <!-- TEXT BLOCK -->
    <div class=" col-sm-12 col-md-4 col-lg-6 blank mt-auto mb-auto" style="vertical-align:middle;display: inline-block;">  
      <h1 id="title">Create <br>An <strong id="Exp">Experience</strong><br> Yourself</h1>
      <p>
        <div class="text-muted text-small">An <strong>app</strong> that lets you create and learn from other's interviews.</div>
      </p>
        <!--VIEW AND SUBMIT BUTTONS -->
      <a class="buttonLink btn" href="ListResponses" >
        <i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="view responses"></i>&nbsp;View
      </a>&nbsp;
      <a class="buttonLink btn" href="response/new">
        <i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="submit a response"></i>
          Submit
      </a>
    </div>

    <!-- PICTURE BLOCK -->
    <div class="col-sm-12 col-md-8 col-lg-6">
      {% load static %}
       <img class="img-responsive" id="deskImg" src="{% static 'images/4.png' %}"
       style="max-height:90vh;max-width:90vw;">
    </div>
  </div>
    <div class="footer">  
    </div>
</div>
{% endblock %}
