{% extends 'Interviewbook/base.html' %}


{% block content %}
<div class="logginbox">
  <h1>LOGIN</h1>
  <form method=post>
  <p>Username</p>
  <input type="text" name="user" placeholder="enter username">

  <p>Password</p>
  <input type="password" name="passwd" placeholder="enter password"><br><br>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <input type="submit" name="" value="LOGIN"><br>
    </form>
   </div>

{% endblock %}
