{% extends 'Interviewbook/base.html' %}


{% block content %}

<form class="form-signin" method="post" id="login-form">
  {% csrf_token %}
  <center>
    <div class="card m-lg-5 p-lg-3 loginCard">
      <center style="vertical-align:middle;">
        <h3 class="form-signin-heading" style="color:#34495E;">{{ message }}</h3><hr>
        <label for="id_username" class="sr-only">User Name</label>
        <input type="text" name="username" id="id_username" class="form-control mb-1" placeholder="User Name" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        </div><br>
        <button class="btn btn-md btn-outline-primary btn-block" type="submit" style="width: 100px;">Login</button>
      </center>
    </div>
  </center> 
</form>
{% endblock %}
