{% extends 'Interviewbook/base.html' %}

{% block content %}
<div class="container p-3">
  <div class="card text-primary takeResponseCard">
    <span class="text-center mt-3" style="color:#34495E;"><h2>Question Detail</h2></span><hr>
      <div class="row m-3" >
        <div class="col-sm-12 col-lg-9">
          <span class="text-dark">Question</span> <textarea name="name" class="mt-1 ml-1 bg-light text-dark" readonly id="responseQuestions">{{response.questions}}</textarea>
        </div>
        <div class="col-sm-12 col-lg-2 mt-lg-3" >
          <div class="row m-3">
            <span class="text-dark"><i class="fas fa-building"></i></span>&nbsp; {{response.company}}
          </div>
          <div class="row m-3">
            <span class="text-dark"><i class="fas fa-star"></i></span>&nbsp; {{response.rating}}
          </div>
          <div class="row m-3">
            <span class="text-dark"><i class="fas fa-user"></i></span>&nbsp; {{response.name}}
          </div>
        </div>
          <div class="row m-3">
            <span class="text-dark">Job Profile</span> : {{response.job_profile}}
          </div>
          <div class="row m-3">
            <span class= "text-dark">Compensation</span> : Rs.{{response.compensation}}
          </div>
          <div class="row m-3">
            <span class="text-dark">No of rounds</span> : {{response.rounds}}
          </div>
      </div>
  </div>
</div>

{% endblock %}
