{% extends 'Interviewbook/base.html' %}

{% block content %}


<div class="list-group container">

  <nav class="navbar bg-warning p-1">
    <form class="form-inline my-2 my-lg-0" method="get" action="/ListResponses/search">
      <input class="form-control text-dark bg-warning border-dark" type="search" aria-label="Search" name="company" placeholder="company..." required>
      <button class="btn btn-outline-dark my-sm-0 ml-1" type="submit">Search</button>
    </form>
  </nav>




      {% for response in responses %}
    <div class="row bg-dark text-warning mt-2 ml-1 p-1">
      <a href="{% url 'viewResponse' response.id %}" class="text-warning col-lg-9 col-sm-12 p-2">
          <span class="font-weight-bold">{{response.job_profile}} </span> at <span class="font-weight-bold"> {{response.company}}</span>
            <span class="font-italic d-inline-flex">- {{response.name}}</span>
      </a>
      <div class="col-lg-3 col-sm-12 border border-warning">
        <div class="row align-middle justify-content-center d-flex">
         {% if response.name.pk == user.pk %}

          <div class="col border-left border-warning p-2">
            <a href="{% url 'deleteResponse' response.id %}" class="text-warning">
            <i class="fas fa-trash-alt"></i> Delete</a>
          </div>
          <div class="col border-left border-warning p-2">
            <a href="{% url 'updateResponse' response.id %}" class="text-warning">
            <i class="fas fa-edit"></i> Edit</a>
          </div>
          {% else %}
          <i class="fas fa-eye p-2" data-toggle="tooltip" data-placement="top" title="views"> {{response.hits}}</i>
         {% endif %}
        </div>
      </div>
    </div>
      {% endfor %}

  <nav aria-label="Page navigation list-group-item list-group-item-action bg-dark text-warning">
  <ul class="pagination pagination-sm mt-5">
    {% if contacts.has_previous %}
    <li class="page-item">
      <a class="page-link bg-dark text-warning border-warning" href="?page={{ responses.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link bg-dark text-warning border-warning" href="?page={{ responses.number }}">1</a></li>

      {% if responses.has_next %}
      <li class="page-item">
      <a class="page-link bg-dark text-warning border-warning" href="?page={{ responses.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
      </li>
      <li class="page-item">
      <a class="page-link bg-dark text-warning border-warning" href="?page={{ responses.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">Last</span>
      </a>
      </li>
    {% endif %}
  </ul>
  </nav>
</div>

{% endblock %}
