{% extends 'Interviewbook/base.html' %}

{% block content %}


<div class="container-fluid p-0">

  <nav class="container-fluid navbar" style="background-color: inherit;">
    <form class="form-inline" method="get" action="/ListResponses/search" style="float:right;">
      <input class="form-control text-dark" type="search" aria-label="Search" name="company" placeholder="company..." required>
      <button class="btn btn-outline-primary my-sm-0 ml-1" type="submit">Search</button>
    </form>
  </nav>

      <br>

  <div class="container">
    {% for response in responses %}
        <!-- ROW 1-->
    <div class="row p-1" style="box-shadow:1px 1px 1px grey;
    background-color: white;border-bottom:1px solid #ccc; 
    " id="listq">
       <!-- COLUMN 1 -->
      <div class="col-lg-9 col-sm-12" style="margin-left:1vw;">
        <div class="mt-0 mb-0">
          <a href="{% url 'viewResponse' response.id %}" class="p-2">
            <span class="font-weight-bold"><h3 style="color: #127BC4;">{{response.job_profile}}</h3></span>
            <small class="text-muted">Added by:</small>
            <span class="font-weight-bold mr-3" style="float:right;color:darkgrey;"> {{response.company}}</span>
            <span class="font-italic d-inline-flex">{{response.name}}</span>
          </a>
        </div>
      </div>
      <!-- COLUMN 2 -->
      <div class="col-lg-2 col-sm-12" style="float:left;">
        <div class="row align-middle justify-content-center d-flex p-2">
          {% if response.name.pk == user.pk %}
          <div class="col">
            <a href="{% url 'deleteResponse' response.id %}" style="vertical-align: middle;">
            <small class="text-muted">Delete</small><br><br><i class="fas fa-trash-alt fa-lg text-center"></i></a>
          </div>
          <div class="col">
            <a href="{% url 'updateResponse' response.id %}" style="vertical-align: middle;" >
            <small class="text-muted">Edit</small><br><br><i class="fas fa-edit fa-lg text-center"></i></a>
          </div>
          {% else %}
          <span data-toggle="tooltip" data-placement="top" title="views">
            <h1 class="mb-0 text-primary numHit">{{response.hits}}</h1>
            <small class="text-muted">views</small></span>
          {% endif %}
        </div>
      </div>
      <!-- <hr style="font-weight: bolder;"> -->
    </div>
      {% endfor %}
  </div>
  <div class="container">    
  
  <ul class="pagination justify content justify-content-end">

    {% if responses.has_previous %}

    <li class="page-item">
      <a class="page-link bg-light text-primary border-primary" href="?page=1">First</a>
    </li>

    <li class="page-item">
      <a class="page-link bg-light text-primary border-primary" href="?page={{ responses.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span>Previous</span>
      </a>
    </li>

    <li class="page-item"><a class="page-link bg-light text-success border-primary" href="?page={{ responses.previous_page_number }}">{{ responses.previous_page_number}}</a>
      </li>

    {% endif %}

    {% for pgno in responses.paginator.page_range %}
      
      {% if responses.number == pgno %}
      
      <li class="page-item"><a class="page-link bg-dark text-success border-primary" href="?page={{ pgno }}">{{ pgno }}</a>
      </li>

      {% else %}

      {% endif %}

    {% endfor %}

      {% if responses.has_next %}
      <li class="page-item"><a class="page-link bg-light text-success border-primary" href="?page={{ responses.next_page_number }}">{{ responses.next_page_number}}</a>
      <li class="page-item">
      <a class="page-link bg-light text-primary border-primary" href="?page={{ responses.next_page_number }}" aria-label="Next">
        <span>Next</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
      </li>
      <li class="page-item">
      <a class="page-link bg-light text-primary border-primary" href="?page={{ responses.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">Last</span>
      </a>
      </li>
      {% endif %}
      </ul>
  </div>
</div>

{% endblock %}
